body{
background-color: black;

}

h1 { background-color:black;
    font: size 45px; 
    color: white;
    text-align: center;

}

p{ background-color: black;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;}